


/*style.css*/
========================

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;                    
}


#sochalicon{
    width: 174px;
    height: 29px;
    top: -51px;
    right: -941px;
    position: relative;
}
#headrimg {
    width: 100%;
    height: 312px;
    overflow: hidden;
    background: url(/template/urorbit/images/b1.png) center;
    background-size: cover;
    min-width: 1100px;
}
#headpage {
    width: 1100px;
    margin: auto;
    height: 167px;
}
#content {
    min-height: 300px;
}
#contentwr {
    width: 1100px;
    margin: auto;
    padding: 24px 1px;
}
#footer {
    background: url(/template/urorbit/images/footer.png);
    height: 65px;
}     
#footer>ul {
    width: 1100px;
    margin: auto;
}
#footer>ul li {
    list-style: none;
    float: left;
    padding-left: 20px;
    color: #fff;
    text-transform: uppercase;
    padding-top: 25px;
    font-size: 12px;
}  
#footer>ul li>a {color:#fff;}
#sochalicon>span {
    color: #f7941e;
    position: relative;
    top: -3px;
    left: -7px;
    font-size: 19px;
}
.title{
    color: #f7941e; 
}

#content {
  min-height: 300px;
  background: url(/uploaded/8860bg.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}



/* ------------------------- DRUPAL 7 FRAMEWORK ------------------------- */

body#body {
	background: #e8e8e8 url(../images/body.jpg) 50% 0;
	color: #acacac;
	font: 14px/24px Arial, Helvetica, sans-serif;
	position:relative;
	min-width:1152px;
	-webkit-text-size-adjust: none;
}

p {margin-bottom:20px;}


.field-name-taxonomy-forums .links a,
.panel-pane.error-page .pane-content .err-title,
.panel-pane.error-page .pane-content span.err,
a {
	color:#f7941e;
	outline:none;
	text-decoration:none;
}
	a:hover,
	.field-name-taxonomy-forums .links a:hover,
	#block-views-our-team-block .views-field-title a:hover {
		text-decoration: none;
		color: #444;
	}

.panel-pane.error-page .pane-content .err-title,
.panel-pane.error-page .pane-content span.err {
	text-decoration: none;
}

strong {
	font-weight:bold;
}

.fl-l {float:left;}
.fl-r {float:right;}

.extra {overflow:hidden;}

.align-left {text-align: left;}
.align-center {text-align: center;}
.align-right {text-align: right;}




.ajax-progress {
  display:none;
}

#edit-style-options-row--2 {
	clear: both;
}

div.messages {
	padding-right: 30px;
}

.dismiss {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-transform: lowercase;
	padding: 2px 6px 4px;
	width: auto;
	line-height: normal;
	font-family: Helvetica;
}
	.dismiss:hover {
		color: #fff;
		text-shadow: none;
	}

.opacity-hover a {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.opacity-hover a:hover {
	opacity: 0.7;
}

.links, .item-list ul, .marker-list ul, ul.action-links {
	list-style: none;
}

.switcher {
	display: inline-block;
	cursor: pointer;
	margin-top: 10px;
	font-size: 11px;
}
	.switcher:hover {
		text-decoration: underline;
	}


.slider-wide div.contextual-links-wrapper {
	right: auto;
	left: 50%;
}

#page {
	width: 1228px;
	margin: 0 auto;
	padding-top: 191px;
}

#page-wrapper {
	background: url(../images/top-bg.png) 50% 0 no-repeat;
}

/* ------------------------- HEADER ------------------------- */
#header {
	position: relative;
}
#logo {
	display: inline-block;
}
.section-1 {
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 9px;
}
	.section-1 .col1 {
		float:left;
		margin-top: -60px;
		margin-bottom: -2px;
	}
	.section-1 .col2 {
		float:right;
		padding-right: 48px;
		padding-top: 25px;
	}

	.col3 {
		float: left;
	}
	.col4 {
		float: right;
		float:right;
		padding-top: 11px;
		padding-right: 12px;
	}
.section-2 {
	margin-bottom: 14px;
}
.section-3 {
	background: #4c4f5c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjNGY1YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM4JSIgc3RvcC1jb2xvcj0iIzQ3NGI1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzODNiNDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #4c4f5c 0%, #474b57 38%, #383b48 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4f5c), color-stop(38%,#474b57), color-stop(100%,#383b48)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c4f5c 0%,#474b57 38%,#383b48 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c4f5c 0%,#474b57 38%,#383b48 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4f5c 0%,#474b57 38%,#383b48 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4c4f5c 0%,#474b57 38%,#383b48 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4f5c', endColorstr='#383b48',GradientType=0 ); /* IE6-8 */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 9px;
}

			
/* ------------------------- SLIDER ------------------------- */
.flex-viewport {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

#flexslider_views_slideshow_main_slider-block li {
	padding: 0;
}

.flex-control-thumbs li {
	width: 20%;
}

.flexslider .slides img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.flexslider {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    margin-bottom: 0;
}

.flex-control-nav {
	bottom: 33px;
	z-index: 20;
	width: auto;
	left: auto;
	right: 19px;
}

.flexslider .flex-next,
.flexslider .flex-prev {
	opacity: 1;
}
.flexslider .flex-direction-nav a {
    display: block;
    background: #000;
}

.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
	text-align: left;
	text-indent: -999em;
}

.flexslider:hover .flex-next, .flex-direction-nav .flex-next {opacity: 1; right: 0;}
.flexslider:hover .flex-prev, .flex-direction-nav .flex-prev {opacity: 1; left: 0;}

.flex-control-nav li {
	margin-left: 3px;
	margin-right: 3px;
}

.flex-control-nav li a {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: 23px;
	height: 23px;
	background: url(../images/flex-control-nav.png) 100% 0 no-repeat;
}
	.flex-control-nav li a.flex-active, .flex-control-nav li a:hover {
		background: url(../images/flex-control-nav.png) 0 0 no-repeat;
	}

.flex-caption {
	position: absolute;
	left: 0;
	top: 0;
}

/* ------------------------- MAIN ------------------------- */
div.messages {
	margin-bottom: 30px;
}
.views-row {
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.views-field-title,
.node h2,
article.comment h3 {
	font-family: 'Roboto', sans-serif;
	color: #f7941e;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 20px;
}
	.views-field-title a,
	.node h2 a,
	article.comment h3 a {
		color: #f7941e;
	}
		.views-field-title a:hover,
		.node h2 a:hover,
		article.comment h3 a:hover {
			color: #444;
		}

.node h2,
article.comment h3 {
	font-size: 22px;
	line-height: 24px;
	margin-bottom: 5px;
}

.views-field-title.title-small {
	font-size: 15px;
}


.views-field-body {
	margin-bottom: 32px;
}
.img-indent {
	margin-bottom: 16px;
}
.title-indent {
	margin-bottom: 8px;
}

.field-name-field-addthis-blog {
	margin-bottom: 25px;
}

.img-left {
	float: left;
	margin-right: 20px;
}
.img-right {
	float: right;
	margin-left: 20px;
}

.block-indent {
	margin-bottom: 60px !important;
}

#main-wrapper #block-system-main.block {
	padding-bottom: 0;
}

.more-link {
	text-align: left;
}




/* ------------------------- DEFAULT BLOCK STYLE ------------------------- */

.last-block {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.views-row-last.views-row {
	margin-bottom: 0px;
}

#main-wrapper .block {
	padding-bottom: 40px;
}

#main-wrapper #content .block.block-views {
	padding-bottom: 20px;
}


	body .container-12 .no-alpha-omega {
		margin-left: 10px;
		margin-right: 10px;
	}


.region-header-bottom {
	padding: 0;
}

.region-content-top {
	padding: 0;
	padding-bottom: 33px;
}

.region-content {
	padding: 0;
}

.region-content-bottom {
	padding: 0;
	padding-top: 51px;
}
	.content-bottom-wrapper {
		background: url(../images/content-bottom-bg.png) 0 0 repeat-x;
	}


.region-header-bottom:after,
.region-content-top:after,
.region-content:after,
.region-content-bottom:after,
.region-content:after {
	content: '';
	width: 100%;
	clear: both;
	display: block;
}

.views-clearfix .views-row:after {
	content: '';
	width: 100%;
	clear: both;
	display: block;
}

#main-wrapper img {
	height:auto;
	width: auto;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
	#main-wrapper .getlocations_map_canvas img {
		padding: 0;
		background: none;
		border: none;
	}
#main-wrapper {
	background:#fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 5px 5px rgba(180, 180, 180, .1);
	-moz-box-shadow: 0 0 5px 5px rgba(180, 180, 180, .1);
	box-shadow: 0 0 5px 5px rgba(180, 180, 180, .1);
	padding-top: 47px;
	padding-bottom: 11px;
}
#main .feed-icon img, #main th.active img {
	width:auto;
	border: none;
	background: none;
	padding: 0;
}


#tinymce p {
	margin-bottom: 10px;
}
.location.vcard {
	margin-top: 0;
}

.service-indent {
	margin-bottom: 29px;
}

.block-header .h-blue {
	margin-bottom: 4px;
}

.block-header {
	margin-bottom: 22px;
}

.indent-32 {
	margin-bottom: 32px;
}

.post-date {
	margin-top: 7px;
	padding-top: 15px;
	width: 76px;
	height: 76px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #f7941e;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 23px;
	background: #4c4f5c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjNGY1YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iIzQ3NGI1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzODNiNDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #4c4f5c 0%, #474b57 37%, #383b48 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4f5c), color-stop(37%,#474b57), color-stop(100%,#383b48)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c4f5c 0%,#474b57 37%,#383b48 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c4f5c 0%,#474b57 37%,#383b48 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4f5c 0%,#474b57 37%,#383b48 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4c4f5c 0%,#474b57 37%,#383b48 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4f5c', endColorstr='#383b48',GradientType=0 ); /* IE6-8 */
}

.post-day {
	font-size: 30px;
	color: #fff;
}

.block-date .views-row {
	padding-bottom: 0;
}

.phone, .adress {
	float: left;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	color: #afb2bc;
	font-size: 14px;
	line-height: 16px;
	min-height: 30px;
}
	.phone {
		width: 218px;
		padding-left: 50px;
		font-weight: 500;
		font-size: 20px;
		background: url(../images/icon-phone.png) 18px 4px no-repeat;
		padding-top: 9px;
	}

	.adress {
		width: 144px;
		margin-left: 20px;
		padding-left: 29px;
		background: url(../images/icon-marker.png) 0 4px no-repeat;
	}
			
/* ------------------------- CONTENT REGION ------------------------- */
/*Node heading*/
.front #page-title {display:none;}

#content h1.title, h2, h3, .h-blue, .h-black {
	font-size:30px;
	line-height:30px;
	margin-bottom:20px;
	text-transform:uppercase;
	color: #f7941e;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

	.h-blue,.h-black {
		margin-bottom: 0;
	}

	.h-black {
		color: #343743;
		font-weight: 300;
	}

h3 {
	font-size: 20px;
	line-height: 26px;
}

article.node {
	padding-bottom:20px;
	margin-bottom:20px;
}
	article.node.node-blog {
		border-bottom: 0px solid #444;
	}

	#node-79 {
		margin-bottom: 0;
		padding-bottom: 0;
	}

.page-node- .submitted a {
	padding-right: 0;
	margin-right: 0;
}

.testimonials-views {
	margin-bottom: 30px;
	padding-left: 32px;
	background: url(../images/q.png) 0 0 no-repeat;
}

.testimonials-text {
	margin-bottom: 10px;
}

.testimonials-author {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: #f7941e;
	text-transform: uppercase;
}
	.testimonials-author a {
		text-transform: none;
		color: #acacac;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 14px;
		text-decoration: underline;
	}
		.testimonials-author a:hover {
			text-decoration: none;
		}


/*Author & date information*/
p.submitted {
	margin:5px 0 15px;
	float: left;
}
	.submitted, p.submitted span, .comment_count {
		
	}

	.submitted a,
	.comment_count {
		text-decoration:none;
	}
		.submitted a:hover,
		.comment_count:hover {}

.comment_count {
	float: right;
	display: inline-block;
	margin-bottom: 15px;
}

article.node footer {
	padding-top:0px;
}

article footer ul.links.inline {
	display:block;
}
article footer ul li {
	padding:0;
	margin:0 15px 0 0;
	padding: 0 !important;
}
	article footer ul li.first {margin-left:0;}

.node-teaser .comment-add {
	display: none;
}

/*Node Tags*/
article.node footer .field-name-field-tags { padding-bottom:10px;}
	article.node footer .field-name-field-tags .field-label{
		float: left;
		font-size: 16px;
		padding-right: 10px;
		line-height: 24px;
	}
	article.node footer .field-name-field-tags .field-items {
		overflow:hidden;
		padding-bottom:15px;
		width:100%;
	}
	article.node footer .field-name-field-tags ul li {
		float:left;
		padding:0 4px;
		margin-right: 10px;
	}
		article.node footer .field-name-field-tags ul li a{
			font-size: 12px;
			text-decoration: none;
			padding: 2px 5px;
		}
			article.node footer .field-name-field-tags ul li a:hover {
				text-decoration: none;
			}

	article .field-items {
		margin-bottom: 20px;
	}
			
			
.node-maps header {
	display:none;
}

.panels-flexible-region-1-contacts_region {
	width:auto;
}




.item-list ul li {
	margin-left: 0;
	margin-bottom: 20px;
}
ul li.collapsed {
	list-style: none;
}
ul.menu li {
	margin-left: 0;
}
body section.block ul {
	margin-bottom: 20px;
}
	section.block ul, section.block .item-list ul li { margin:0;}
	ul li.leaf { 
		list-style-image:none;
		list-style-type:none;
		margin:0;
		padding:0;
	}
		section.block .content li, .marker-list .content li { 
			background:url(../images/a1.png) no-repeat 0 7px;
			padding:0 0 10px 12px;
			line-height:20px;
		}
			section.block .content li a, .marker-list li a, .marker-list li { 
				color:#f7941e;
				line-height:20px;
				text-decoration:none;
			}
			section.block .content li a:hover, .marker-list li a:hover { color:#444;}


/* ------------------------- BUTTONS STYLES ------------------------- */
	.form-submit:hover { background:#444;}
	
.button a, .more-link a, ul.links li a, .view-portfolio .views-field-view-node a, #block-poll-recent ul.links li a, #filters li a, .content ul.pager li a, .content ul.pager li.pager-current, .form-submit {
	display: inline-block;
	padding: 11px 20px;
	-webkit-border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	border-top-right-radius: 20px 50px;
	padding-right: 32px;
	background: #eee;
	border: none;
	color: #333745;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM2JSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYmViZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #fbfbfb 36%, #ebebeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(36%,#fbfbfb), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fbfbfb 36%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fbfbfb 36%,#ebebeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fbfbfb 36%,#ebebeb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fbfbfb 36%,#ebebeb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); /* IE6-8 */
}
	.button a:hover, .more-link a:hover, ul.links li a:hover, .view-portfolio .views-field-view-node a:hover, #block-poll-recent ul.links li a:hover, #filters li a:hover, #filters li a.selected, .content ul.pager li a:hover, .content ul.pager li.pager-current, .form-submit:hover {
			background: #f7941e; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdlY2VmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZWNlZmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  #f7941e 0%, #f7941e 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7941e), color-stop(100%,#f7941e)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #f7941e 0%,#f7941e 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #f7941e 0%,#f7941e 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #f7941e 0%,#f7941e 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #f7941e 0%,#f7941e 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7941e', endColorstr='#f7941e',GradientType=0 ); /* IE6-8 */
			color: #fff;
	}


.form-submit {
	line-height:normal;
	vertical-align:middle;
}


ul.links li a {
	margin-bottom: 10px;
}

/* ------------------------- BACK TO TOP ------------------------- */
#backtotop {
	background: #444 url(../images/up-arrow.png) 50% 50% no-repeat;
	width: 50px;
	height: 50px;
	z-index: 5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	right: 40px;
	bottom: 100px;
}
	#backtotop:hover {
		opacity: 1;
		background-color: #f7941e;
	}

	
/* ------------------------- FOOTER ------------------------- */

#block-block-5 {float:left;}

#block-block-5 .content {
	font-family: 'Open Sans', sans-serif;
	color: #b8b8b8;
	text-transform: uppercase;
	font-weight: 400;
	padding-top: 5px;
}
	#block-block-5 .content a {
		color: #b8b8b8;
	}

		#block-block-5 .content a:hover {
			color: #f7941e;
		}

	#block-block-5 .content span {
		font-weight: 600;
	}


/* ------------------------- SOCIAL-ICONS BLOCK ------------------------- */
#block-follow-site { float:right;}

	.follow-link-wrapper {
		display: inline-block;
		margin-left: 8px;
	}
	a.follow-link {
		width:35px;
		height:34px;
		text-indent:-9999px;
		opacity:1;
		padding:0;
		display: inline-block;
	}
		a.follow-link:hover {
			background-position: 0 100%;
		}


a.follow-link-googleplus {
  background-image: url(../images/icon-googleplus.png);
}
a.follow-link-twitter {
  background-image: url(../images/icon-twitter.png);
}
a.follow-link-this-site {
  background-image: url(../images/icon-feed.png);
}	
a.follow-link-facebook {
  background-image: url(../images/icon-facebook.png);
}



/* ------------------------- PAGINATOR ------------------------- */
.content ul.pager {text-align:left;}

.content ul.pager li {
	margin:0px 1px;
	overflow:hidden;
	padding: 0;
	display: inline-block;
	background: none;
}

	.content ul.pager li a:hover, .content ul.pager li.pager-current ,
	.content ul.pager li a, .content ul.pager li.pager-current {
		
	}


/* ------------------------- PORTFOLIO ------------------------- */

#main-wrapper .isotope-element img {
	width: 100%;
}

.add-magnify {
	margin-bottom:20px;
	background: #000;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.view-portfolio .isotope-element .views-field-field-portfolio-image a {
	display:block;
	background: url(../images/magnify.png) 50% 50% no-repeat;
}

	.view-portfolio .isotope-element .views-field-field-portfolio-image a img {
		-webkit-transition: all 400ms ease;
		-moz-transition: all 400ms ease;
	    -ms-transition: all 400ms ease;
	    -o-transition: all 400ms ease;
		transition: all 400ms ease;
	}
	.view-portfolio .isotope-element .views-field-field-portfolio-image a img:hover {
		opacity: 0.5;
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	}

.isotope-element .views-field-title {
	margin: 10px 0;
}

#filters {
	margin-bottom: 20px;
	text-align: right;
}

#isotope-options {
	background: none;
}

#filters li {
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 0;
	background: none;
}

.isotope-element img {
	width: 100%;
	height: auto;
}

#isotope-container {
	margin-left: -10px;
	margin-right: -10px;
}

.isotope-element {
	background: none;
	color: inherit;
	margin: 0px;
	height: auto;
	width: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 30px;
}



/* ------------------------- POLL'S BARS ------------------------- */
.poll .total, .poll .title  {margin-bottom:15px;}
.poll .bar { 
	background-color:#fff;
	border:1px solid #8c8c8c;
	padding:1px;
	height:10px;
	margin-bottom:15px;
}
.poll .bar .foreground { 
	height:10px; 
	display:none;
	background-color:#f7941e;
}
	
.poll .percent { float:right;}
.poll .vote-form { text-align: left; padding-bottom: 15px;}
.poll .vote-form .choices { width: 100%;}

#block-poll-recent ul.links li {
	background: none;
	padding-left: 0;
}

#block-comment-recent .content li a { display:inline-block;}

#block-comment-recent li span, .views-field-timestamp {
	display: block;
}

#block-forum-new .contextual-links-wrapper { display:none;}

#block-system-navigation .content li { margin:0;}

.links {
	list-style: none;
}

.links li {
	display: inline-block;
	margin-right: 5px;
}


/* ------------------------- BLOCK SEARCH ------------------------- */
#block-search-form {}
#block-search-form .form-text, #search-block-form .container-inline .form-text {
	width:254px;
	padding:9px 5px;
	padding-right: 44px;
	border:none;
	background:none;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
#block-search-form .container-inline, #search-block-form .container-inline {
	overflow:hidden;
	background: url(../images/search-bg.png);
	display:inline-block;
	position: relative;
	border: 1px solid #262b2b;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
}
#block-search-form .container-inline .form-item, #search-block-form .container-inline .form-item {float:left; margin:0;}
#block-search-form .container-inline .form-actions, #search-block-form .container-inline .form-actions {position: absolute; top: 0; right: 0;}

	
#block-search-form .form-submit, #search-block-form .form-submit { 
	background:url(../images/search.png) no-repeat center center #E1E1E1;
	border:0;
	line-height:normal;
	width:37px;
	height:33px;
	padding:0;
	margin:0;
	vertical-align:middle;
	cursor:pointer;
	text-indent:-9999px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	filter:none;
}
	#search-block-form #edit-submit:hover, #search-block-form .form-submit:hover {opacity: 0.8; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);}

	

/* ------------------------- FORUM ------------------------- */
.action-links {
	padding: 0 0 25px 0px;
}
	.action-links a {
		font-weight:bold;
	}
		.action-links a:hover {
			text-decoration:none;
		}

#forum a {
	font-size:12px;
}
	#forum a:hover {text-decoration: underline;}

#forum table {
	border:1px solid #c8c8c8;
	width:100%;
}

#forum th {
	border:1px solid #f7941e;
	color:#fff; 
	font-size:14px;
	padding:3px 5px;
}
	#forum th a {
		color:#fff;
	}

#forum td.container { 
	padding:10px;
}

#forum td {
	border:1px solid #c8c8c8;
	padding: 5px;
}

#forum td.topics, #forum td.posts, #forum td.replies{
	text-align:center;
}

.field-name-taxonomy-forums {
	overflow:hidden;
	padding-bottom:20px;
	margin-top: 20px;
	width:100%;
}
	.field-name-taxonomy-forums .field-label {
		font-size:14px;
		vertical-align:middle;
		margin-bottom: 0;
		line-height:22px;
		float:left;
		margin-right:10px;
		font-family:Arial;
		letter-spacing:0;
	}

	.field-name-taxonomy-forums .links a {
		background:none;
		box-shadow: none;
		display:inline;
		font-size: 14px;
		padding:0;
		text-transform: none;
	}
		.field-name-taxonomy-forums .links a:hover {
			background:none;
		}

.page-forum- #main-wrapper .active img {
	padding: 0;
	background: 0;
	border: none;
	margin-left: 5px;
	margin-top: 4px;
}


/* ------------------------- COMMENTS FORM ------------------------- */
.panels-flexible-region-1-contacts_region {
	width:auto;
}


#edit-actions input {
	margin-right: 10px;
}


#edit-comment-body {margin-bottom:15px;}
.filter-help a {font-size:10px; display:inline-block;}
.filter-help a {
	padding-left: 0;
}
#comments {
	margin-bottom: 30px;
	clear: both;
}

article.comment header{overflow:hidden; margin-bottom: 0;}
.user-picture { float:left; margin-right:15px;}

section#comments h2.title {
	margin-bottom:15px;
}

#comment-form label,
#contact-site-form label {
	vertical-align:middle;
}
.form-required {
	color: #f00 !important;
}

#comment-form .form-text,
#user-login .form-text,
#contact-site-form input.form-text,
.search-form .form-text {
	width:220px;
}
	
#comment-form .form-textarea {
	height:120px;
	margin-bottom: 10px;
	
}
	#contact-site-form textarea#edit-message {  /*Contact form texrarea*/
		margin-right:0;
		width:98%;
		height: 100px;
	}
	
.resizable-textarea .grippie {
	display:none;
}

.form-type-item {
	overflow:hidden;
	width:100%;
}
	.form-type-item label {
		float:left;
		padding-right:10px;
	}	
	
.form-type-select { margin:0;}

#edit-comment-body-und-0-format-guidelines {
	padding-top:15px;
}
	#edit-comment-body-und-0-format-guidelines ul li{
		font-size:12px;
		overflow:hidden;
		width:100%;
	}

/* ------------------------- COMMENTS OUTPUT ------------------------- */
#comments {
	margin-top: 30px !important;
}
.comment-wrapper {overflow:hidden;}

article.comment .submitted {
	margin:2px 0 10px;
}
	article.comment .submited .permalink, p .permalink {
		display:none;
	}

article.comment {
	background:#fff;
	border:1px solid #c2c2c2;
	margin-bottom:15px;
	padding:15px;
	padding-bottom: 25px;
}	
	article.comment h2 {
		color:#292a2b;
		font-size:18px;
		font-weight:normal;
		text-decoration:none;
	}
	
.node article.comment footer {
	overflow:hidden;
	padding:0;
}

#edit-comment-body-und-0-format { border:1px solid #d6d2c6;}
	#edit-comment-body-und-0-format .fieldset-wrapper > * {padding-left:0; padding-right:0;}
	#edit-comment-body-und-0-format .fieldset-wrapper {padding:20px 10px;}
	#edit-comment-body-und-0-format .fieldset-wrapper label {display:inline;}

#comment-form-wrapper { margin-top:30px;}
#comment-form-wrapper .title {
	margin-left:0;
	margin-right:0;
}
article.comment span.new { position:absolute; top:0; right:0;}
.comment-preview { background:none;}

.compose-tips li {margin-bottom:10px;}
.compose-tips h3 {margin-bottom:10px;}

.comment .field-items {margin-bottom: 20px;}

/* ------------------------- TABLE STYLES ------------------------- */
tr.odd, tr.even {
	background: #fff;
	border-bottom: 1px solid #E0E0E0;
}
	tr.even {
		background: #f8f8f8;
	}

th {background:#f7941e; color: #fff; padding: 5px;}



.page-faq-questions-top .views-row {
	margin-bottom: 30px;
}


.view-faq {
	margin-bottom: 30px;
}



/* ------------------------- 404 PAGE NOT FOUND ------------------------- */
.page-page-404 #search-block-form {width:400px;}
.panel-separator {display:none;}

.panel-pane.error-page {margin-bottom:30px;}
	.panel-pane.error-page .pane-content {overflow:hidden;}
		.panel-pane.error-page .pane-content span.err {
			float:left;
			font-weight:bold;
			font-size:150px;
			line-height:180px;
		}
.panel-pane.error-page .pane-content .extra {
	background:url(../images/v_line.gif) 40px 0 repeat-y;
	padding-left:80px;
}
.panel-pane.error-page .pane-content .err-title {
	display:block;
	font-size:70px;
	line-height:84px;
	padding-top:20px;
	text-transform:uppercase;
}
.panel-pane.error-page .pane-content .err-body {
	display:block;
	font-size:20px;
	line-height:24px;
	margin-bottom:15px;
	width:300px;
}
.page-page-404 .pane-search-form {text-align:center;}
	.page-page-404 .pane-search-form .pane-content {display:inline-block; padding-top:40px;}
	.page-page-404 .pane-search-form #search-block-form .form-text {width:300px;}


html.js .collapsible.collapsed.collapsible .fieldset-legend {background-image:url(../images/menu-collapsed.png);}
html.js .collapsible.collapsible .fieldset-legend {background-image:url(../images/menu-expanded.png);}

input[type="text"], input[type="password"], input[type="search"], textarea {
	background:#fff;
	border:1px solid #ddd;
	color:#666 !important;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:8px 5px;
}

/* ------------------------- FIRST-TIME PAGE ------------------------- */
#first-time {
	display:none;
}
	#first-time p {
		padding:10px 0;
	}
	
#first-time .item-list ul li{
	background:none;
	display:block;
	float:left;
	margin:0;
}
	#first-time .item-list ul li a {
		color:#f7941e;
		display:block;
		font-size:12px;
		font-weight:bold;
		text-decoration:none;
	}
		#first-time .item-list ul li:hover { background:none; }
		#first-time .item-list ul li a:hover { background:none; }
		
/* ------------------------- BREADCRUMB ------------------------- */
#breadcrumb { 
	color:#444;
	margin-top:16px;
	padding:0px 3px 15px;
}
	#breadcrumb a { 
		color:#444;
		font-size:12px;
		text-decoration:none;
		padding:0 3px;
	}
		#breadcrumb a:last-child { padding-right:0;}
		#breadcrumb a:hover { color:#f7941e;}
	
/* ------------------------- ADMIN TAB ------------------------- */
.tabs-wrapper { margin: 1px 0 20px;}
div.tabs { overflow:hidden;}

.tabs ul.primary {
	border:0;
	border-bottom:1px solid #c9c9c9;
	margin:10px 0 10px 0;
	overflow:hidden;
	padding:4px 0;
}
	.tabs ul.primary li {
		margin-bottom:-1px;
	}
		.tabs ul.primary li a { 
			background:#EDEDED;
			border:1px solid #BBB;
			border-bottom:0;
			border-radius:3px 3px 0 0;
			color:#444;
			font-size:12px;
			font-weight:normal;
			margin:0;
			overflow:hidden;
			padding:3px 15px 4px;
			text-shadow:0 1px 0 #FFF;
			-webkit-transition:background 0.1s linear;
			-moz-transition:background 0.1s linear;
		}
			.tabs ul li a.active, .tabs ul li a:hover { 
				background:#f7941e;
				color:#fff;
				text-shadow:none;
			}


/**
* Reset CSS
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

li ul, li ol { margin:0; }
ul, ol { margin:0; padding-left:0;}
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em; }
table { margin-bottom:1.5em; width:100%; }
th, tr, td { padding: 0.1em 0.5em; vertical-align: middle; }
hr { background:#666; border:none; clear:both; float:none; height:1px; margin: -1px 0 1.5em; width: 100%; }
fieldset { border: 1px solid #ccc; margin: .5em 0; padding: 1em; }

iframe { background:#fff !important;}
.at300b iframe { background: none !important;}

.addthis_toolbox {
  padding-top: 3px;
}

.addthis_button_compact {
  margin: 4px 0 0 30px;
}
/**
 * Normalize CSS
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

p {
  margin:0 0 15px 0;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

/* change colours to suit your needs */
ins {
    background-color:#46a7e2;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#46a7e2;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}


/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/


/* =============================================================================
   Forms from normalize
   ========================================================================== */
   
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
    margin: 0;
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, F3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
	  font-family: sans-serif;
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * 1. Addresses FF3/4 setting line-height using !important in the UA stylesheet
 * 2. Corrects inner spacing displayed oddly in IE6/7
 */

button,
input {
    line-height: normal; /* 1 */
    *overflow: visible;  /* 2 */
}

/*
 * Corrects overlap and whitespace issue for buttons and inputs in IE6/7
 * Known issue: reintroduces inner spacing
 */

table button,
table input {
    *overflow: auto;
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 */

button,
html input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Addresses excess padding in IE8/9
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Corrects inner padding displayed oddly in S5, Chrome on OSX
 */

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Corrects inner padding and border displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */

textarea {
    overflow:auto; vertical-align:top; resize:none;
}

select:focus, input:focus, textarea:focus { outline:none;}



/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 

/* 
 * minimal base styles 
 */


body, select, input, textarea { 
  /* #444 looks better than black */ 
  color: #444; 
}

h1,h2,h3,h4,h5,h6,#site-name, #site-name strong { font-weight: normal; }
h1, #site-name {
  font-size:36px;
  line-height:1em;
  margin-bottom:.5em; 
}

h2 {
  font-size:24px;
}

h3 {
  font-size:18px;
  line-height:2em;
}

h4 {
  font-size:15px;
  line-height: 1.25em;
  margin-bottom: 1.25em; 
}

h5 {
  font-size:12px;
  font-weight:bold;
  margin-bottom:1.5em; 
}

h6 {
  font-size:10px;
  font-weight:bold;
  line-height: 1.8em;
  margin-bottom:1.8em;
}

 
/* Accessible focus treatment */
a:hover, a:active { outline:none; }

ul, ol { margin-left:0; }
ol { list-style-type:decimal; }

/* Remove margins for navigation lists */

small { font-size:85%; }
strong, th { font-weight:bold; }

img { font-size:0; line-height:0; vertical-align:top;}
td, td img { vertical-align:top; }

sub { vertical-align:sub; font-size:smaller; }
sup { vertical-align:super; font-size:smaller; }

pre { 
  padding:15px; 
  white-space:pre; /* CSS2 */
  white-space:pre-wrap; /* CSS 2.1 */
  white-space:pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap:break-word; /* IE */
}
 
legend { *margin-left:-7px; }

input[type="radio"] { vertical-align:text-bottom; }
input[type="checkbox"] { vertical-align:middle; *vertical-align:baseline;}

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor:pointer;}
label { display: table; font-weight: normal;}
label.option { display: inline;}
 
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

table button, table input { *overflow: auto; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius:1px;
      box-shadow:0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color:#f0dddd; }


/* These selection declarations have to be separate.*/
::-moz-selection{ background:#46a7e2; color:#fff; text-shadow:none; }
::selection { background:#46a7e2; color:#fff; text-shadow:none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #46a7e2; } 

/* make buttons play nice in IE:    
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG */
img { -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


#skip-link {
  position: absolute;
}

/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display:block; border:0; text-indent:-999em; overflow:hidden; background-color:transparent; background-repeat:no-repeat; text-align:left; direction:ltr; }
.ir br { display:none; }

/* Hide from both screenreaders and browsers:h5bp.com/u */
.hidden { display:none !important; visibility:hidden; }

/* Hide only visually, but have it available for screenreaders:h5bp.com/v */
.visuallyhidden { border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard:h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip:auto; height:auto; margin:0; overflow:visible; position:static; width:auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }


.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both;}
.clearfix { zoom:1; }


#cboxTitle { 
  background: #fff;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter:alpha(opacity=80);
}

#edit-author #edit-name {
  background-image: none;
}




.sf-menu,
.sf-menu * {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sf-menu {
  line-height: 1.0;
  z-index: 497;
}
.sf-menu ul {
  left: 0;
  position: absolute;
  top: -99999em;
  width: 12em;
}
.sf-menu ul li {
  width: 100%;
}
.sf-menu li {
  float: left;
  position: relative;
  z-index: 498;
}
.sf-menu a {
  display: block;
  position: relative;
}
.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  z-index: 499;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  left: 0;
  top: 2.5em;
}
.sf-menu li li:hover > ul,
.sf-menu li li.sfHover > ul {
  left: 12em;
  top: 0;
}
.sf-hidden {
  left: 0 !important;
  top: -99999em !important;
}
.sf-menu a.sf-with-ul {
  min-width: 1px;
}
.sf-sub-indicator {
  background: url('../images/arrows-ffffff.png') no-repeat -10px -100px;
  display: block;
  height: 10px;
  overflow: hidden;
  position: absolute;
  right: 0.75em;
  text-indent: -999em;
  top: 1.05em;
  width: 10px;
}
a > .sf-sub-indicator {
  top: 0.8em;
  background-position: 0 -100px;
}
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px;
}
.sf-menu ul .sf-sub-indicator {
  background-position: -10px 0;
}
.sf-menu ul a > .sf-sub-indicator {
  background-position: 0 0;
}
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0;
}
.sf-menu.sf-horizontal.sf-shadow ul,
.sf-menu.sf-vertical.sf-shadow ul,
.sf-menu.sf-navbar.sf-shadow ul ul {
  background: url('../images/shadow.png') no-repeat right bottom;
  padding: 0 8px 9px 0 !important;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.sf-shadow ul.sf-shadow-off {
  background: transparent;
}
.sf-menu.rtl,
.sf-menu.rtl li {
  float: right;
}
.sf-menu.rtl li:hover > ul,
.sf-menu.rtl li.sfHover > ul {
  left: auto;
  right: 0;
}
.sf-menu.rtl li li:hover > ul,
.sf-menu.rtl li li.sfHover > ul {
  left: auto;
  right: 12em;
}
.sf-menu.rtl ul {
  left: auto;
  right: 0;
}
.sf-menu.rtl .sf-sub-indicator {
  left: 0.75em;
  right: auto;
  background: url('../images/arrows-ffffff-rtl.png') no-repeat -10px -100px;
}
.sf-menu.rtl a > .sf-sub-indicator {
  top: 0.8em;
  background-position: -10px -100px;
}
.sf-menu.rtl a:focus > .sf-sub-indicator,
.sf-menu.rtl a:hover > .sf-sub-indicator,
.sf-menu.rtl a:active > .sf-sub-indicator,
.sf-menu.rtl li:hover > a > .sf-sub-indicator,
.sf-menu.rtl li.sfHover > a > .sf-sub-indicator {
  background-position: 0 -100px;
}
.sf-menu.rtl ul .sf-sub-indicator {
  background-position: 0 0;
}
.sf-menu.rtl ul a > .sf-sub-indicator {
  background-position: -10px 0;
}
.sf-menu.rtl ul a:focus > .sf-sub-indicator,
.sf-menu.rtl ul a:hover > .sf-sub-indicator,
.sf-menu.rtl ul a:active > .sf-sub-indicator,
.sf-menu.rtl ul li:hover > a > .sf-sub-indicator,
.sf-menu.rtl ul li.sfHover > a > .sf-sub-indicator {
  background-position: 0 0;
}
.sf-menu.rtl.sf-horizontal.sf-shadow ul,
.sf-menu.rtl.sf-vertical.sf-shadow ul,
.sf-menu.rtl.sf-navbar.sf-shadow ul ul {
  background-position: bottom left;
  padding: 0 0 9px 8px !important;
  -webkit-border-radius: 8px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius: 8px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 0;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
.sf-vertical.rtl li:hover > ul,
.sf-vertical.rtl li.sfHover > ul {
  left: auto;
  right: 12em;
}
.sf-vertical.rtl .sf-sub-indicator {
  background-position: -10px 0;
}
.sf-vertical.rtl a > .sf-sub-indicator {
  background-position: 0 0;
}
.sf-vertical.rtl a:focus > .sf-sub-indicator,
.sf-vertical.rtl a:hover > .sf-sub-indicator,
.sf-vertical.rtl a:active > .sf-sub-indicator,
.sf-vertical.rtl li:hover > a > .sf-sub-indicator,
.sf-vertical.rtl li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0;
}
.sf-navbar.rtl li li {
  float: right;
}
.sf-navbar.rtl ul .sf-sub-indicator {
  background-position: 0 -100px;
}
.sf-navbar.rtl ul a > .sf-sub-indicator {
  background-position: -10px -100px;
}
.sf-navbar.rtl ul a:focus > .sf-sub-indicator,
.sf-navbar.rtl ul a:hover > .sf-sub-indicator,
.sf-navbar.rtl ul a:active > .sf-sub-indicator,
.sf-navbar.rtl ul li:hover > a > .sf-sub-indicator,
.sf-navbar.rtl ul li.sfHover > a > .sf-sub-indicator {
  background-position: 0 -100px;
}
.sf-navbar.rtl ul ul .sf-sub-indicator {
  background-position:  0 0;
}
.sf-navbar.rtl ul ul a > .sf-sub-indicator {
  background-position:  -10px 0;
}
.sf-navbar.rtl ul ul a:focus > .sf-sub-indicator,
.sf-navbar.rtl ul ul a:hover > .sf-sub-indicator,
.sf-navbar.rtl ul ul a:active > .sf-sub-indicator,
.sf-navbar.rtl ul ul li:hover > a > .sf-sub-indicator,
.sf-navbar.rtl ul ul li.sfHover > a > .sf-sub-indicator {
  background-position: 0 0;
}
.sf-navbar.rtl li li:hover > ul,
.sf-navbar.rtl li li.sfHover > ul {
  left: auto;
  right: 0;
}
.sf-navbar.rtl li li li:hover > ul,
.sf-navbar.rtl li li li.sfHover > ul {
  left: auto;
  right: 12em;
}
.sf-navbar.rtl > li > ul {
  background: transparent;
  padding: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}




.sf-vertical.sf-style-none {
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.sf-vertical.sf-style-none li {
    width: auto;
    clear: both;
}

.sf-vertical.sf-style-none li a, .sf-vertical.sf-style-none li span {
    font-size: 32px;
    text-transform: uppercase;
    color: #27A9E1;
    text-decoration: none;
    padding-left: 6px;
    padding-right: 6px;
}

.sf-vertical.sf-style-none li span {
    display: block;
    position: relative;
}

.sf-vertical.sf-style-none li ul {
    width: 900px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.sf-vertical li:hover > ul, .sf-vertical li.sfHover > ul {
    left: 100%;
    top:0;
}

.sf-vertical.sf-style-none li ul li {
    clear: none;
}

.sf-vertical.sf-style-none li ul li a, .sf-vertical.sf-style-none li ul li span {
    font-size: 24px;
    line-height: 32px;
    text-transform: none;
    color: #00ADEF;
    background: url(/template/urorbit/images/menubg.png) repeat scroll 0 0 transparent;
}

.sf-vertical.sf-style-none li a.active.sf-depth-1, .sf-vertical.sf-style-none li a.sf-depth-1:hover, .sf-vertical.sf-style-none li.sfHover a.sf-depth-1,
.sf-vertical.sf-style-none li span.sf-depth-1:hover, .sf-vertical.sf-style-none li.sfHover span.sf-depth-1 {
    background-color: #F7931D;
    color: white;
}

.sf-vertical.sf-style-none li a.active, .sf-vertical.sf-style-none li a:hover, .sf-vertical.sf-style-none li span:hover {
    color: #F7931D;
}

#block-views-gallery-child-gallery > h2, .page-node #page-title {
    color: #F7931D;
    font-size: 37px;
    margin-top: 0;
}

.jcarousel-skin-default .jcarousel-container-horizontal {
    height: auto;
}

.jcarousel-skin-default .jcarousel-next-horizontal {
    top: 50%;
    margin-top: -16px;
}

.jcarousel-skin-default .jcarousel-prev-horizontal {
    top: 50%;
    margin-top: -16px;
}

.jcarousel-skin-default .jcarousel-item {
    width: 270px;
    height: 190px;
}

#footer-wrapper {
    padding: 0;
}


/* ------------------ List Styles ------------------ */

.block ol,
.block ul {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}
.contextual-links-wrapper {
  font-size: small !important;
}
ul.contextual-links {
  font-size: 0.923em;
}
.contextual-links-wrapper a {
  text-shadow: 0 0 0 !important;
}
.item-list .pager {
  font-size: 0.929em;
}
ul.menu li {
  margin: 0;
}
.region-content ul,
.region-content ol {
  margin: 1em 0;
  padding: 0 0 0.25em 2.5em; /* LTR */
}
.item-list ul li {
  margin: 0;
  padding: 0.2em 0.5em 0 0; /* LTR */
}
ul.tips {
  padding: 0 0 0 1.25em; /* LTR */
}
